body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff; 
    text-align: center; 
}

/* Estilos de mi tabla*/
.fashion-week-table {
    width: 50%; /* Ancho de la tabla */
    margin: 20px auto; /* Para Centrar la tabla */
    border-collapse: collapse;
}

.fashion-week-table th, .fashion-week-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.fashion-week-table th {
    background-color: #f2f2f2;
    font-size: 1.8em; /* Para poner los encabezados más grandes */
}

.fashion-week-table td {
    font-size: 1.5em; /* Letra de las celadas */
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background: #fff; 
}

/* Estilos para mi displya de fotos */
.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no hay espacio */
}

.image-item {
    width: calc(33.333% - 10px); /*Que cada una me ocupe un tercio */
    margin: 5px; /* Margen alrededor de cada imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Les doy un poco de opacidad*/
    text-align: center;
}

.image-item img {
    width: 100%; /* Cada imagen se adapta a su contenedor */
    height: auto; 
}

.image-item p {
    margin-top: 8px; 
    font-size: 1.2em; 
    color: #333; 
}


